@model List<Category>

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Categories</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in @Model)
                        {
                            <tr class="category-row" data-category-id="@category.id">
                                <td>@category.id</td>
                                <td>@category.Name</td>
                                <td>
                                    <a asp-controller="Category" asp-action="Detail" asp-route-id="@category.id" class="btn btn-sm btn-primary">Details</a>
                                    <a class="btn btn-sm btn-success" asp-controller="Category" asp-action="Update" asp-route-id="@category.id">Update</a>
                                    <a class="btn btn-sm btn-danger delete-category-button">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>