@model List<UserViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                    <td>
                        <a asp-controller="User" asp-action="ChangePassword" asp-route-id="@item.Id">
                            <button>Change Password</button>
                        </a>
                        <a asp-controller="User" asp-action="AddRole" asp-route-id="@item.Id">
                            <button>Add Role</button>
                        </a>
                        <form asp-controller="User" asp-action="@(item.isBlocked == true ? "Activate" : "Deactivate")" asp-route-id="@item.Id" method="post">
                            <button type="submit">
                                @(item.isBlocked == true ? "Activate" : "Deactivate")
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
